{% extends 'KnpBundlesBundle::layout/900px.html.twig' %}

{% block title %}Sign-in{% endblock %}

{% block intro %}
<div id="intro">
    <h1>Sign in to KnpBundles.com</h1>
    <h2>We need you to sign in before doing this</h2>
</div>
{% endblock %}

{% block left %}
<div class="content-box">
    <hgroup>
        <h2>No "Sign up" form?</h2>
        <h4>Yep, there is no sign-up form! But why you ask? We don't like them anymore than you do! All the "sign-up" work is done automatically in the background when you choose one of the ways below to authenticate with <strong>KnpBundles.com</strong></h4>
    </hgroup>

    <section>
        <a class="btn btn-large" href="{{ hwi_oauth_login_url('github') }}">GitHub</a>
        <a class="btn btn-large" href="{{ hwi_oauth_login_url('sensio') }}">Sensio Connect</a>
    </section>
</div>
{% endblock %}
