security:
    firewalls:
        secured_area:
            anonymous:   true
            pattern:     ^/
            oauth:
                oauth_provider:   github
                client_id:        %knp_bundles.github.client_id%
                secret:           %knp_bundles.github.client_secret%
                scope:            ~
                check_path:       /oauth/github
                login_path:       /login
                failure_path:     /
            logout:
                path:   /logout
                target: /

    access_control:
        - { path: ^/add, roles: ROLE_USER }
        - { path: change-usage-status$, roles: ROLE_USER }

    providers:
        oauth_entity:
            oauth_entity:
                class: KnpBundlesBundle:User
                property: name