{% extends "KnpSymfony2BundlesBundle::layout.html.twig" %}

{% block title %}{% trans %}notFound.meta.title{% endtrans %}{% endblock %}

{% block content %}
<div style="text-align: center;">
    <img src="{{ asset('bundles/knpsymfony2bundles/images/404.jpg') }}" alt="404 Not Found" />
</div>
{% endblock %}
