.DS_Store
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/db/*
/app/repos
/app/data
/app/deploy.sh
/app/alive.php
/app/phpunit.xml
/web/bundles/*
/web/sitemap.xml*
/app/DoctrineMigrations/*
/src/Knp/Bundle/KnpBundlesBundle/DoctrineMigrations/*
/src/Knp/Bundle/KnpBundlesBundle/Resources/solr/data/*
/vendor/*
/app/config/parameters.yml
/app/config/parameters.*.yml
composer.phar
bin/*
!bin/launch-rabit-consumers.sh
!bin/prepare-*.sh
!bin/behat-*.sh
build
behat.yml