/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/db/*
/app/repos
/app/data
/app/deploy.sh
/app/alive.php
/app/phpunit.xml
/web/bundles/*
/web/sitemap.xml*
/web/css/*
/web/js/*
/src/Knp/Bundle/KnpBundlesBundle/DoctrineMigrations/*
/src/Knp/Bundle/KnpBundlesBundle/Resources/solr/data/*
/vendor/*
/app/config/parameters.yml
/app/config/parameters.*.yml
/app/config/deploy/*
composer.phar
bin/*
!bin/update-all-bundles.sh
!bin/setup-*.sh
!bin/launch-rabbit*consumers.sh
!bin/prepare-*.sh
!bin/behat-*.sh
build
behat.yml
app/Resources/java/*
apache-solr*
