[submodule "src/vendor/Symfony"]
	path = src/vendor/Symfony
	url = git://github.com/fabpot/symfony.git
[submodule "src/vendor/Zend"]
	path = src/vendor/Zend
	url = git://github.com/zendframework/zf2.git
[submodule "src/vendor/php-github-api"]
	path = src/vendor/php-github-api
	url = git://github.com/ornicar/php-github-api.git
[submodule "src/Bundle/MarkdownBundle"]
	path = src/Bundle/MarkdownBundle
	url = git://github.com/knplabs/MarkdownBundle.git
[submodule "src/Bundle/GravatarBundle"]
	path = src/Bundle/GravatarBundle
	url = git://github.com/ornicar/GravatarBundle.git
[submodule "src/vendor/Goutte"]
	path = src/vendor/Goutte
	url = git://github.com/ornicar/Goutte.git
[submodule "src/vendor/Doctrine"]
	path = src/vendor/Doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "src/vendor/DoctrineMigrations"]
	path = src/vendor/DoctrineMigrations
	url = git://github.com/doctrine/migrations.git
[submodule "src/Bundle/MenuBundle"]
	path = src/Bundle/MenuBundle
	url = git://github.com/knplabs/MenuBundle.git
[submodule "src/vendor/doctrine-dbal"]
	path = src/vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "src/Bundle/OfflineBundle"]
	path = src/Bundle/OfflineBundle
	url = git://github.com/knplabs/OfflineBundle.git
[submodule "TestSessionBundle"]
	path = TestSessionBundle
	url = git://github.com/knplabs/TestSessionBundle.git
[submodule "src/Bundle/TestSessionBundle"]
	path = src/Bundle/TestSessionBundle
	url = git://github.com/knplabs/TestSessionBundle.git
