[submodule "src/vendor/Symfony"]
	path = src/vendor/Symfony
	url = git://github.com/fabpot/symfony.git
[submodule "src/vendor/Zend"]
	path = src/vendor/Zend
	url = git://github.com/zendframework/zf2.git
[submodule "src/vendor/php-github-api"]
	path = src/vendor/php-github-api
	url = git://github.com/ornicar/php-github-api.git
[submodule "src/vendor/MongoDbOdm"]
	path = src/vendor/MongoDbOdm
	url = git://github.com/doctrine/mongodb-odm.git
[submodule "src/Bundle/MarkdownBundle"]
	path = src/Bundle/MarkdownBundle
	url = git://github.com/knplabs/MarkdownBundle.git
[submodule "src/Bundle/GravatarBundle"]
	path = src/Bundle/GravatarBundle
	url = git://github.com/ornicar/GravatarBundle.git
