/app/cache/*
/app/logs/*
/app/db/*
/app/repos
/app/data
/app/deploy.sh
/app/alive.php
/app/phpunit.xml
/web/bundles/*
/app/DoctrineMigrations/*
/src/Knp/Bundle/KnpBundlesBundle/DoctrineMigrations/*
/vendor/*
/app/config/parameters.yml
/app/config/parameters.*.yml
