language: php

php:
  - 5.3

before_script:
    - cp app/config/parameters.yml.test app/config/parameters.yml
    - php bin/vendors install
    - ./bin/prepare-test-env.sh

script: phpunit --coverage-text -c app/

branches:
    except:
        - experimental

notifications:
    email:
        - travis@knplabs.com
