default:
  context:
    parameters:
      base_url: "http://knpbundles.local/app_test.php"
  formatter:
    name: progress
  extensions:
    Behat\Symfony2Extension\Extension:
      mink_driver: true
      kernel:
        bootstrap: ""
        env: test
        debug: true
        bootstrap: ''
    Behat\MinkExtension\Extension:
      base_url: 'http://knpbundles.local/app_test.php'
      default_session: symfony2
