default:
  context:
    parameters:
      base_url: "http://localhost:8000/"
  formatter:
    name: progress
  extensions:
    Behat\Symfony2Extension\Extension:
      mink_driver: true
      kernel:
        env: test
        debug: true
        bootstrap: ''
    Behat\MinkExtension\Extension:
      base_url: 'http://localhost:8000/'
      default_session: symfony2
