{% extends 'KnpBundlesBundle:Repo:list.html.twig' %}

{% block title %}{% trans with {'%count%': repos.totalItemCount, '%sort%': sort} %}projects.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans with {'%count%': repos.totalItemCount, '%sort%': sort} %}projects.meta.description{% endtrans %}{% endblock %}

{% block h1 %}{% trans with {'%count%': repos.totalItemCount, '%sort%': sort, '[': '<span>', ']': '</span>'} %}projects.title{% endtrans %}{% endblock %}

{% block route_list %}{{ path('project_list', {'sort': field}) }}{% endblock %}
