server 'KnpBundles.com', :app, :web, :db, :primary => true

set :domain,      "knpbundles.local"
set :deploy_to,   "/path/to/knpbundles/production"
set :user,        "production-user"
set :branch,      "master"
set :port,        27
