{% extends "KnplabsSymfony2BundlesBundle::layout.html.twig" %}
{% block title %}404 - Page not found{% endblock %}
{% block slogan %}There is nothing here.{% endblock %}
{% block content %}
<div style="text-align: center;">
    <img src="{{ asset('bundles/knplabssymfony2bundles/images/404.jpg') }}" alt="404 Not Found" />
</div>
{% endblock %}
