/**
 * Main stylesheet
 *
 * @site http://www.symfony2bundles.org
 */

body {
    margin: 0;
    text-align: center;
    font: 16px/1.2em Helvetica, Verdana, sans-serif;
    background-color: #000;
    color: #393939;
}

a img { border: none; }

/**
 *  UTILS
 * --------------------
 */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

/**
 *  LAYOUT
 * --------------------
 */

/* ----- Header ----- */

#header { 
    position: absolute; 
    top: 0;
    width: 100%; 
    background: -webkit-gradient(linear, left top, left bottom, from(#1D95A3), to(#FFF));
    background: -moz-linear-gradient(top,#1D95A3,#FFF);
}

#header-inner { 
    width: 960px; 
    height: 90px; 
    margin: auto; 
    position: relative; 
    text-align: left;
}

#content-title .user-list li {
    display: inline;
}

#content-title .user {
    display: block;
    padding: 0 0 0 20px;
}


#content-title .user a {
    color: #e49211;
    font-weight: bold;
}

#content-title .contributor a {
    color: #e49211;
    font-weight: normal;
}

h1 { 
    display: block; 
    padding: 10px 20px 0px 20px;
    margin: 0; 
    font-size: 30px;
    line-height: 36px;
    color: #393939;
}

/* ----- Goodies ----- */

#logo { position: absolute; top: 8px; left: 15px; }
#logo img { width: 90px; }
#mascot { position: absolute; top: 20px; right: 45px; width:220px;}
#knplabs { position: absolute; top: 12px; right: 15px;}
#knplabs img { width: 45px;}

/* ----- Menu ----- */

#menu, 
    #menu li { margin: 0; padding: 0; list-style: none;}
#menu { 
    margin-top: 15px;
    padding-left: 120px;
    height: 58px; 
    background: url(../images/menu_bg.png) repeat-x;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
    #menu li {
        height: 20px;
        margin: 19px 0;
        display: block;
        float: left;
        border-right: 1px solid #616162;
    }
    #menu li.first { border-left: 1px solid #616162; margin-left: 5px; }
    #menu li.last { margin-right: 5px; border-right: none; }
    #menu a {
        display: block;
        margin: -19px 10px 0 10px;
        padding: 17px 19px;
        color: #fff;
        font: 16px/24px Arial, sans-serif;
        font-weight: bold;
        text-decoration: none;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    #menu a:hover,
    #menu li.current a
    {
        color: #EDB443;
    }

    
/* ----- Search Box ----- */

#search-box {
    position: absolute;
    top: 18px;
    right: 70px;
    height: 20px;
    padding: 0;
    border: none;
}
    #search-box label { display: none; }
    #search-box input { 
        float: left;
        border: none;  
        height: 20px; 
        width: 130px;
        padding: 0 0 0 15px;
        color: #666;
        font-size: 12px;
        margin: 0;
        outline: none;
        background: url(../images/search_text_bg.png) no-repeat left;
    }
    #search-box button {
        float: right;
        height: 20px;
        width: 43px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-indent: -999px;
        border: none;
        outline: none;
        background: url(../images/search_button_bg.png) no-repeat;
    }
    #search-box button:hover { cursor: pointer; }

/* ----- Content ----- */

#content { width: 960px; margin: 100px auto 0 auto; text-align: left; position: relative; background-color: #FFF;}

#content-wrapper { background-color: #FFF; padding-bottom: 50px;}

#main {
    width: 960px; 
    margin: 20px 5px; 
    background: #fff;
    box-shadow: 0 0 10px rgba(127,127,127,.2);
    -moz-box-shadow: 0 0 10px rgba(127,127,127,.2);
    -webkit-box-shadow: 0 0 10px rgba(127,127,127,.2);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
}
    #main h2 {
        margin: 40px 0px 20px 0px;
        color: #1D95A3;
        font-size: 22px;
        font-weight: bold;
    }

    #main h3 {
        margin: 20px 0px;
        font-size: 18px;
        font-weight: normal;
    }

    #side { float: left; width: 275px; margin: 5px; }

/* ----- Footer ----- */

#footer-wrapper {
    margin: 0;
    background: #000 url(../images/footer_bg.png) repeat-x;
}

#footer {
    height: 200px;
    text-align: left;
    border-top:  3px solid #37A3B0;
}

#footer-inner {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #fff;
}
    #footer a { color: #fff; text-decoration: none; }
    #footer a:hover { text-decoration: underline; }
    #footer dl { float: left; padding: 20px; }
    #footer dt { font-size: 18px; }
    #footer dd { font-size: 14px; padding: 10px 0; }
    #footer dl.right { float: right; text-align: right; }
        #footer dl.right a { text-decoration: underline; }
        #footer dl.right dt { color: #a3e4ec; }

/**
 *  SHARED
 * -------------------- */

/* ----- Markdown ----- */

.markdown {
    overflow: hidden;
}
.markdown ul { margin: 0; padding: 0; }
.markdown ul li { list-style: disc inside; }
.markdown p { margin: 20px 0; }
.markdown h1 { font-size: 2em; font-weight: bold; margin: 20px 0; }
.markdown h2 { font-size: 1.8em; font-weight: bold; margin: 20px 0; }
.markdown h3 { font-size: 1.4em; font-weight: bold; margin: 20px 0; }
.markdown h4 { font-size: 1.2em; margin: 20px 0; }
.markdown pre {
    margin: 20px 0;
    background: #222;
    color: #fff;
    padding: 1em;
    overflow: auto;
    text-shadow: 0 0 1px rgba(0,0,0, .2);
    -moz-text-shadow: 0 0 1px rgba(0,0,0, .2);
    -webkit-text-shadow: 0 0 1px rgba(0,0,0, .2);
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* ----- Buttons ----- */

.button { 
    display: inline-block;
    line-height: 28px;
    padding: 0 15px;
    background: #000 url('../images/black_button_bg.png') repeat-x; 
    color: #eee;
    font-size: 14px;
    text-decoration: none;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

/* ----- Tabs ----- */

.tabs { overflow: hidden; }
    .tabs li { float: left; }
    .tabs a {
        display: block;
        margin: 0 4px 0 0;
        padding: 5px 15px;
        color: #fff;
        font-size: 14px;
        background: #393939;
        border-radius: 8px 8px 0 0;
        -moz-border-radius: 8px 8px 0 0;
        -webkit-border-radius: 8px 8px 0 0;
        text-decoration: none;
    }
        .tabs .current a { color: #000; background: #ededed; }

/* ----- Bundles List ----- */

.bundles_list,
    .bundles_list .bundle { margin: 0; padding: 0; list-style: none; }
.bundles_list { font-size: 13px; line-height: 18px; }
    .bundles_list a {
        display: block;
        height: 85px;
        padding: 10px 10px 10px 40px;
        text-decoration: none;
        color: #393939;
        background: #ededed; 
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
    .bundles_list a:hover {
        background: #fafafa;
    }
    .bundles_list .bundle { 
        position: relative;
        margin: 4px 0; 
    }
    .bundles_list .name { display: block; font-weight: bold; font-size: 14px; }
    .bundles_list .number {
        position: absolute;
        top: 10px;
        left: 10px; 
        display: block;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        background: #000;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    }
    .bundles_list .date {
        position: absolute;
        top: 40px;
        left: 10px;
        width: 25px;
        font-weight: bold;
    }
        .bundles_list .date .month,
        .bundles_list .date .day { display: block; text-align: center; }
    .bundles_list .rank {
        position: absolute;
        top: 40px;
        left: 10px;
        width: 25px;
    }
    .bundles_list .hot { position: absolute; top: 12px; left: 13px; }
    .bundles_list .description { font-size: 12px; }

#newest-bundles h2,
#best-scored-bundles h2,
#hot-bundles h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px 0 40px;
    height: 30px;
    background: #000;
    color: #fff;
    border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
}
    #newest-bundles h2 { background: #1d95a3 url(../images/last_created_bundles_ico.png) no-repeat 12px 14px; }
    #last-creates-bundles a { color: #1d95a3; }
        #newest-bundles .bundles_list .number { background: #1d95a3; }
    #best-scored-bundles h2 { background: #393939 url(../images/best_scored_bundles_ico.png) no-repeat 12px 9px; }
    #best-scored-bundles a { color: #393939; }
        #best-scored-bundles .bundles_list .number { background: #393939; }
    #hot-bundles h2 { background: #ed9521 url(../images/hot_bundles_ico.png) no-repeat 12px 16px; }
        #hot-bundles .bundles_list .number { background: #c27700; }

/* ----- Repos & Repositories List ----- */

    #sort .sort-by { float: left; padding: 5px 20px; }

    .repos-list .repo,
    .developers-list .developer { 
        position: relative;
        margin: 10px; 
        font-size: 14px;
        background: #f6f6f6; 
        overflow: hidden;
        border-radius: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
    }
    .repos-list .generals,
    .developers-list .generals,
    .repos-list .details,
    .developers-list .details,
    .repos-list .image,
    .developers-list .image
    { padding: 12px; }
    
    .repos-list .generals,
    .developers-list .generals
    { float: left; width: 600px; overflow: hidden; padding-left: 0; }


    .repos-list .generals .name
    {
        font-size: 20px;
    }

    .repos-list .image,
    .developers-list .image
    { float: left; width: 50px; }

    .bundlerank
    {
        text-align: center;
        background: #DDD; 
        color: #000;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        padding: 5px 0;
    }
    
    .repos-list .details,
    .developers-list .details { 
        float: right; 
        width: 180px;
        background: #ebebeb; 
        border-radius: 0 12px 12px 0;
        -moz-border-radius: 0 12px 12px 0;
        -webkit-border-radius: 0 12px 12px 0;
    }
    .repos-list .name,
    .developers-list .name { 
        font-size: 16px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        display: block;
    }
    .repos-list .owner,
    .developers-list .location {
        margin-top: 5px;
        color: #e49211;
        text-decoration: none;
        font-weight: bold;
    }
    .repos-list .description { font-size: 14px; margin-top: 5px; }
    .repos-list .infos,
    .developers-list .infos { font-size: 13px; margin: 0 10px 10px 10px; }
        .repos-list .infos span,
        .developers-list .infos span { float: right; color: #1d95a3; }

/**
 *  SPECIFIC PAGES
 * -------------------- */

/* ----- Homepage ----- */

#homepage {}
    #homepage #present {
        width: 590px;
        margin: 10px 0px 10px 0px;
        padding: 20px;
        font-size: 14px;
        line-height: 24px;
        background: #fff;
        box-shadow: 0 0 10px rgba(127,127,127,.2);
        -moz-box-shadow: 0 0 10px rgba(127,127,127,.2);
        -webkit-box-shadow: 0 0 10px rgba(127,127,127,.2);
        border-radius: 0 0 8px 8px;
        position: relative;
    }
    #homepage #newest-bundles,
    #homepage #best-scored-bundles,
    #homepage #hot-bundles { float: left; width: 306px; margin: 5px 10px; }
    #homepage #newest-bundles { border-bottom: 4px solid #1d95a3; }
    #homepage #best-scored-bundles { border-bottom: 4px solid #393939; margin-left: 0;}
    #homepage #hot-bundles { border-bottom: 4px solid #ed9521; margin-right: 0; }

/* ----- Repos List ----- */

#repos-list {}
    #repos-list #main { padding-top: 10px; }

/* ----- Repo Show ----- */

#repo-show {}
        #content-title .actions { position: absolute; top:15px; right: 0px; }
        #repo-show #main .actions { float: right; margin: 10px; }
        #repo-show #main .button { margin: 0 0 0 5px; }
        #repo-show #main .user { 
            float: left;
            display: block; 
            padding: 10px 20px; 
            color: #1d95a3; 
            text-decoration: none;
            font-style: italic;
        }
        #repo-show #main .details {
            clear: both;
            margin: 10px;
            background: #ededed;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            overflow: hidden;
        }
        #repo-show #main .infos {
            float: left;
            margin: 0;
            padding: 20px;
            width: 160px;
            font-size: 13px;
            background: #f6f6f6;
        }
            #repo-show #main .infos span { float: right; color: #1d95a3; }
        #repo-show #main .description { padding: 20px 20px 20px 225px; font-size: 14px; }
    #repo-show #side { float: right; width: 275px; margin: 5px; }
    #repo-show #data {
        clear: both; 
        padding: 10px;
        margin: 5px;
        font-size: 14px;
        box-shadow: 0 0 10px rgba(127,127,127,.2);
        -moz-box-shadow: 0 0 10px rgba(127,127,127,.2);
        -webkit-box-shadow: 0 0 10px rgba(127,127,127,.2);
        border-radius: 12px;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
    }
    #repo-show .tab-content {
        padding: 10px;
        background: #ededed;
        border-radius: 0 8px 8px 8px;
        -moz-border-radius: 0 8px 8px 8px;
        -webkit-border-radius: 0 8px 8px 8px;
    }

/* ----- Developers List ----- */

#developers-list {}
    #developers-list #main { padding-top: 10px; }

/* ----- Developer show ----- */

#developer-show {}
        #developer-show #main .card { overflow: hidden; margin: 10px; }
        #developer-show #main .card .stats { float: left; margin: 0 0 0 10px; }
        #developer-show #main .card .location { font-size: 18px; margin: 10px 0; font-style: italic; }
        #developer-show #main .card .stats { font-size: 13px; }
            #developer-show #main .card .stats span { color: #1d95a3; float: right; }
        #developer-show #main .card .about { 
            float: right; 
            width: 240px;
            overflow: hidden;
            background: #ebebeb;
            padding: 10px;
            border-radius: 8px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
        }
        #developer-show #main .card .avatar {
            float: left;
            display: block;
            background: url(../images/developer_show_avatar_bg.png) no-repeat;
        }
            #developer-show #main .card .avatar img { margin: 11px; }
        #developer-show #main .card .about .links { padding: 20px 0 20px 110px; font-size: 14px; }
            #developer-show #main .card .about .links a { color: #1d95a3; }
            #developer-show #main .repo .details { padding: 40px; }

/* ----- Search ----- */

#search {}
    #search #main p { margin: 20px; }

/* ----- Search Result ----- */

#search-result {}

/* ----- API ----- */

#api {}
    #api #main { padding: 20px; }
