imports:
    - { resource: config_prod.yml }

doctrine:
    dbal:
        connections:
            default:
                driver:   pdo_mysql
                dbname:   s2b
                user:     root
                password: root
