parameters:
    secret:            ThisTokenIsNotSoSecretChangeIt
    database_driver:   pdo_sqlite
    database_host:     ~
    database_port:     ~
    database_name:     ~
    database_user:     root
    database_password: ~
    database_path:     %kernel.root_dir%/db/db-%kernel.environment%.sql

    knp_bundles.evolution.period: 50 #days

    knp_bundles.trending_bundle_twitterer.idle_period: 30 #days
    knp_bundles.trending_bundle.min_score_diff: 3
    knp_bundles.trending_bundle.min_score_threshold: 25

    knp_bundles.github.client_id: your_client_id_here
    knp_bundles.github.client_secret: your_client_secret_here
    knp_bundles.github.limit: 5000

    knp_bundles.sensio.client_id: your_client_id_here
    knp_bundles.sensio.client_secret: your_client_secret_here

    knp_bundles.twitter.consumer_key: your_twitter_consumer_key_here
    knp_bundles.twitter.consumer_secret: your_twitter_consumer_secret_here
    knp_bundles.twitter.oauth_token: your_twitter_oauth_token_here
    knp_bundles.twitter.oauth_token_secret: your_twitter_oauth_token_secret_here

    knp_bundles.disqus_key: p1Zrns5MOWzLu87mbgFsS2XgwpmuV8PWG1MLUlPfMY3zCZe9uirvwMBWhoPkRuwm

    old_sound_rabbit_mq.host: "localhost"
    old_sound_rabbit_mq.port: "5672"
    old_sound_rabbit_mq.user: "guest"
    old_sound_rabbit_mq.password: "guest"
    old_sound_rabbit_mq.vhost: "/"
    old_sound_rabbit_mq.debug: %kernel.debug%

    kb_sitemap.base_url: http://knpbundles.com

    solarium.host: 127.0.0.1
    solarium.port: 8983
    solarium.path: /solr

    banner:
        text: "Hello|[Edgar]"
        url: "http://knpbundles.com"

    knp_bundles.finder.limit: 2000

    monolog.swift.from_email: error@knpbundles.com
    monolog.swift.to_email: error@knpbundles.com
