parameters:
    secret:            ThisTokenIsNotSoSecretChangeIt
    database_driver:   pdo_sqlite
    database_host:     ~
    database_port:     ~
    database_name:     ~
    database_user:     root
    database_password: ~
    database_path:     %kernel.root_dir%/db/db-%kernel.environment%.sql

    knp_bundles.github.client_id: your_client_id_here
    knp_bundles.github.client_secret: your_client_secret_here

    base_url: http://your-virtualhost.local/app_test.php
