{% extends 'S2bBundle:Repo:show.html.twig' %}

{% block h1 %}{{ repo.shortName }}<span>Bundle</span>{% endblock %}

{% block git_command %}git submodule add {{ repo.gitUrl }} src/Bundle/{{ repo.name }}{% endblock %}
