{% extends 'KnplabsSymfony2BundlesBundle:Repo:show.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">Home</a> &gt;
    <a href="{{ path('bundle_list') }}">Bundles</a> &gt;
    <span>{{ repo.name }}</span>
{% endblock %}
