<div id="newest-bundles">
    <h2>{% trans %}bundles.list.title.newest{% endtrans %}</h2>
    <ul class="bundles_list">
        {%- for i, bundle in bundles %}
        <li class="bundle">
            <a href="{{ path('repo_show', { 'username': bundle.username, 'name': bundle.name }) }}">
                <span class="name">{{ bundle.name }}</span>
                <span class="number">{{ bundles|length - i }}</span>
                <span class="description">{{ bundle.description }}</span>
            </a>
        </li>
        {%- endfor %}
    </ul>
</div>
