<div id="promo">
    <figure>
        <img src="{{ asset('bundles/knpbundles/images/icon_heart.png') }}" alt="">
    </figure>

    <section onclick="_gaq.push(['_trackEvent', 'banner']);">
        <span>{{ text|raw }}</span>

        <a href="http://knplabs.com/" onclick="_gaq.push(['_trackEvent', 'banner']);">Hire us for your project!</a>
    </section>
</div>
