{% extends 'KnpBundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="search"{% endblock %}

{% block title %}{% trans %}search.list.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans %}search.list.meta.description{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}search.list.title{% endtrans %}</h1>
    <div id="main">
        <p>{% trans %}search.content.description.part1{% endtrans %}<br />
        {% trans %}search.content.description.part2{% endtrans %}</p>
    </div>
{% endblock %}
