<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>

        <parameter key="github.search.class">Bundle\GitHubBundle\Search</parameter>

    </parameters>

    <services>

        <service id="github_search" class="%github.search.class%" shared="true">
        </service>

    </services>
</container>
