{% extends 'KnpBundlesBundle::layout/960px.html.twig' %}

{% block title %}{% trans %}api.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans %}api.description{% endtrans %}{% endblock %}

{% block intro %}
<div id="intro">
    <h1>{% trans %}api.title{% endtrans %}</h1>
    <h2>Everything here is available through an HTTP API.</h2>
</div>
{% endblock %}

{% block right_holder %}{% endblock %}

{% block left_holder %}
<div class="content-box">
    <section class="api markdown">
        {{ text|markdown }}
    </section>
</div>
{% endblock %}
