{% extends "KnpBundlesBundle::layout.html.twig" %}

{% block title %}{% trans %}api.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans %}api.description{% endtrans %}{% endblock %}

{% block content %}
<div id="api">
    <h1>{% trans %}api.title{% endtrans %}</h1>
    <div id="main">
        <div class="doc_text markdown">
            {{ text|markdown }}
        </div>
    </div>
</div>
{% endblock %}
