<div id="promo">
    <a class="img" href="{{ url }}"><img src="{{ asset('bundles/knpbundles/images/edgar.png') }}" /></a>
    <div class="bulle">
        {{ text|replace({
            '[': '<a href="'~url~'">',
            ']': '</a>',
            '|': '<br>'
        })|raw }}
    </div>
</div>
