{% extends "KnpBundlesBundle::layout/900px.html.twig" %}

{% block title %}{% trans %}faq_scoring.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans %}faq_scoring.description{% endtrans %}{% endblock %}

{% block intro %}
<div id="intro">
    <h1>KnpBundles FAQ Scoring</h1>
    <h2>Frequent answers to questions regarding bundle scoring issues</h2>
</div>
{% endblock %}

{% block right_holder %}{% endblock %}

{% block left_holder %}
<div class="content-box">
    <section class="markdown">
        {{ text|markdown }}
    </section>
</div>
{% endblock %}
