{% extends "KnpBundlesBundle::layout/900px.html.twig" %}

{% block title %}{% trans %}faq_scoring.title{% endtrans %}{% endblock %}

{% block description %}{% trans %}faq_scoring.description{% endtrans %}{% endblock %}

{% block intro %}
<div id="intro">
    <h1>{% trans %}faq_scoring.title{% endtrans %}</h1>
    <h2>{% trans %}faq_scoring.description{% endtrans %}</h2>
</div>
{% endblock %}

{% block right_holder %}{% endblock %}

{% block left_holder %}
<div class="content-box">
    <section class="markdown">
        {{ text|markdown }}
    </section>
</div>
{% endblock %}
