{% extends "KnpBundlesBundle::layout.html.twig" %}

{% block title %}{% trans %}symfony2bundles.meta.title{% endtrans %}{% endblock %}

{% block description %}{% trans %}symfony2bundles.description{% endtrans %}{% endblock %}

{% block content %}
<div id="api">
    <h1>{% trans %}symfony2bundles.title{% endtrans %}</h1>
    <div id="main">
        <div class="doc_text markdown">
            {{ text|markdown }}
        </div>
    </div>
</div>
{% endblock %}
