<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="../src/autoload.php"
>
  <testsuites>
    <testsuite name="FrontBundle Test Suite">
      <directory>../src/Application/FrontBundle/Tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>../src/Application/FrontBundle</directory>
      <exclude>
        <directory>../src/Application/FrontBundle/Resources</directory>
        <directory>../src/Application/FrontBundle/Tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
