<ul class="repos-list">
    {%- for repo in repos %}
    <li class="repo">
        <div class="generals">
            <a href="{{ path('repo_show', {'username': repo.username, 'name': repo.name}) }}" class="name">
                {{ repo.name }}
            </a>
            <p class="description">{{ repo.description }}</p>
        </div>
    </li>
    {%- endfor %}
</ul>
