{% extends 'KnpSymfony2BundlesBundle::layout.html.twig' %}

{% block body_attributes %}id="search"{% endblock %}

{% block h1 %}Search{% endblock %}

{% block title %}Search Bundles and Projects{% endblock %}

{% block description %} Search for Open Source Bundles and Projects{% endblock %}

{% block content %}
    <div id="main">
        <p>Please use the search input at the top right.<br />
        The engine will search in repository name, description and developer name.</p>
    </div>
{% endblock %}
