{% extends 'KnplabsSymfony2BundlesBundle:Repo:show.html.twig' %}

{% block breadcrumb %}
    <a href="{{ path('homepage') }}">Home</a> &gt;
    <a href="{{ path('project_list') }}">Projects</a> &gt;
    <span>{{ repo.name }}</span>
{% endblock %}
